<!DOCTYPE html>
<html>
    <head>
        <title>КосмоСлоты</title>
        <link rel="stylesheet" href="../css/reset.css" type="text/css">
        <link rel="stylesheet" href="../css/main.css?t=1" type="text/css">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
	    <meta name="msapplication-tap-highlight" content="no"/>
        <script type="text/javascript" src="../js/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="../js/createjs-2013.12.12.min.js"></script>
        <script type="text/javascript" src="../js/ctl_utils.js"></script>
        <script type="text/javascript" src="../js/sprite_lib.js"></script>
        <script type="text/javascript" src="../js/settings.js?t=5"></script>
        <script type="text/javascript" src="../js/CSlotSettings.js"></script>
        <script type="text/javascript" src="../js/CLang.js"></script>
        <script type="text/javascript" src="../js/CPreloader.js?t=1"></script>
        <script type="text/javascript" src="../js/CMain.js?t=2"></script>
        <script type="text/javascript" src="../js/CTextButton.js"></script>
        <script type="text/javascript" src="../js/CGfxButton.js"></script>
        <script type="text/javascript" src="../js/CToggle.js"></script>
        <script type="text/javascript" src="../js/CBetBut.js"></script>
        <script type="text/javascript" src="../js/CMenu.js?t=1"></script>
        <script type="text/javascript" src="../js/CGame.js?t=16"></script>
        <script type="text/javascript" src="../js/CReelColumn.js"></script>
        <script type="text/javascript" src="../js/CInterface.js?t=6"></script>
        <script type="text/javascript" src="../js/CPayTablePanel.js?t=1"></script>
        <script type="text/javascript" src="../js/CStaticSymbolCell.js"></script>
        <script type="text/javascript" src="../js/CTweenController.js"></script>
        <script type="text/javascript" src="../js/CBonusPanel.js"></script>
    </head>
    <body ondragstart="return false;" ondrop="return false;">
      <canvas id="canvas" class='ani_hack' width="1024" height="768">
        <h1>Ваш браузер не поддерживает HTML5. Обновите браузер, или установите другой.</h1>
      </canvas>
    
    <div id="table_payment" style="position: absolute; left: 0px; top: 0px;z-index:1; width:100%;">
      <center>
    
    <div style="background-color: #2d3149; border-top: 1px solid #000; padding-bottom: 10px; padding-top: 10px;">
      <table><tbody><tr><td align="center" style="color: gold" colspan="2">Лидеры дневного турнира</td></tr><%= @result_text %></tbody></table>
    <br>
    <table>
        <tbody>
        <tr>
          <td style="width: 100%; padding-top: 5px; padding-right: 2px; padding-left: 2px;">
          <div>
            <form action="/fights" method="get">
              <button type="submit" style="background: brown; border: none; width: 100%; color: #fff; height: 40px;">
                <table>
                  <tbody><tr>
                  <td align="left" style="vertical-align: middle; padding-left: 5px;color:#fff;">ВСЕ ТУРНИРЫ</td>
                  </tr>
                  </tbody></table>
              </button>
            </form>
          </div>
          </td>
        </tr>
        
      </tbody></table>
    
    </div>
      
    <div style="background-color: #2d3149; border-top: 1px solid #000; padding-bottom: 20px; padding-top: 20px;">
      <table>
        <tbody><tr>
          <td align="center" style="color: #fff" colspan="2">
            Добавить фишки
          </td>
        </tr>
        
        <tr>
          <td style="width: 50%; padding-top: 5px; padding-right: 2px; padding-left: 2px;">
          <div>
            <form method="get" action="/payment_action">
              <button style="background: #4d1d6d; border: none; width: 100%; color: #fff; height: 40px;" type="submit">
                <table>
                  <tbody><tr>
                  <td width="28px"><img src="http://144.76.72.53:100/logist/game_3x7/money.png"></td>
                  <td align="left" style="vertical-align: middle; padding-left: 5px;color:#fff;">80 000$ за 1000 р.</td>
                  </tr>
                  </tbody></table>
              </button>
            </form>
          </div>
          </td>
              <td style="width: 50%; padding-top: 5px; padding-right: 2px; padding-left: 2px;">
                <div><form method="get" action="/payment_action">
                 <button style="background: #3b2d7d; border: none; width: 100%; color: #fff; height: 40px;" type="submit">
                    <table>
                      <tbody><tr>
                        <td width="28px"><img src="http://144.76.72.53:100/logist/game_3x7/money.png"></td>
                        <td align="left" style="vertical-align: middle; padding-left: 5px;color:#fff;">25 000$ за 500 р.</td>
                      </tr>
                    </tbody></table>
                  </button></form>
                </div>
              </td>
        </tr>
        
        <tr>
              <td style="width: 50%; padding-top: 5px; padding-right: 2px; padding-left: 2px;">
                <div><form method="get" action="/payment_action">
                  <button style="background: #1b3d6d; border: none; width: 100%; color: #fff; height: 40px;" type="submit">
                    <table>
                      <tbody><tr>
                        <td width="28px"><img src="http://144.76.72.53:100/logist/game_3x7/money.png"></td>
                        <td align="left" style="vertical-align: middle; padding-left: 5px;color:#fff;">11 100$ за 300 р.</td>
                      </tr>
                    </tbody></table>
                  </button></form>
                </div>
              </td>
              <td style="width: 50%; padding-top: 5px; padding-right: 2px; padding-left: 2px;">
                <div><form method="get" action="/payment_action">
                 <button style="background: #3b5179; border: none; width: 100%; color: #fff; height: 40px;" type="submit">
                    <table>
                      <tbody><tr>
                        <td width="28px"><img src="http://144.76.72.53:100/logist/game_3x7/money.png"></td>
                        <td align="left" style="vertical-align: middle; padding-left: 5px;color:#fff;">5 000$ за 200 р.</td>
                      </tr>
                    </tbody></table>
                  </button></form>
                </div>
              </td></tr><tr>
              <td style="width: 50%; padding-top: 5px; padding-right: 2px; padding-left: 2px;">
                <div><form method="get" action="/payment_action">
                  <button style="background: #235d5d; border: none; width: 100%; color: #FFFFFF; height: 40px;" type="submit">
                    <table>
                      <tbody><tr>
                        <td width="28px"><img src="http://144.76.72.53:100/logist/game_3x7/money.png"></td>
                        <td align="left" style="vertical-align: middle; padding-left: 5px;color:#fff;">2 250$ за 100 р.</td>
                      </tr>
                    </tbody></table>
                  </button></form>
                </div>
              </td>
              <td style="width: 50%; padding-top: 5px; padding-right: 2px; padding-left: 2px;">
                <div><form method="get" action="/payment_action">
                  <button style="background: #2f6d5d; border: none; width: 100%; color: #fff; height: 40px;" type="submit">
                    <table>
                      <tbody><tr>
                        <td width="28px"><img src="http://144.76.72.53:100/logist/game_3x7/money.png"></td>
                        <td align="left" style="vertical-align: middle; padding-left: 5px;color:#fff;">1 000$ за 50 р.</td>
                      </tr>
                    </tbody></table>
                  </button></form>
                </div>
              </td></tr>
      </tbody></table>
      <br><font color="white">Если Вы живете не в России, то стоимость фишек будет рассчитана по текущему курсу для вашей страны.</font>
    </div>
    
    <div style="border-top: 1px solid #000; padding-bottom: 10px; padding-top: 10px;">
    <table><tbody>
    	<tr><td style="color: white" colspan="2" align="center"><%= @user.login %><br>Ваш ID <%= @user.id.to_s %><br></td></tr>
      <tr><td style="color: white" colspan="2" align="center">Сайт игры - cosmoslot.ru</td></tr>
    </tbody></table>
    </div>
    <div style="background-color: #2d3149; border-top: 1px solid #000; padding-bottom: 10px; padding-top: 10px;">
      <form method="get" action="/help">
        <button style="background: #2f6d5d; border: none; width: 90%; color: #fff; height: 40px;" type="submit">
          <center>
          <table>
            <tbody><tr>
              <td style="vertical-align: middle; padding-left: 5px;color:#fff;">Помощь по игре</td>
              </tr>
            </tbody></table>
          </center> 
        </button>
      </form>
    </div>
</center>
</div>
    
    <!--<div style="position: fixed; background-color: transparent; top: 0px; left: 0px; width: 100%; height: 90%"></div>-->
          <script>
            $(document).ready(function(){
              var oMain = new CMain({
                  userid:<%= @user.id.to_s %>,
                  money:<%= @user.money.to_s %>,
                  lines:<%= @user.lines.to_s %>,
                  bet:<%= @user.bet.to_s %>,
              });

               $(oMain).on("game_start", function(evt) {
                      createjs.Sound.play("sottofondo",{loop:1000});
               });

               $(oMain).on("end_bet", function(evt,iMoney,iBetWin) {
                       // Получаем данные о ходе игрока
                       //alert("iMoney: "+iMoney + " Win:"+iBetWin);
               });

               $(oMain).on("restart", function(evt) {
               });
               
               document.getElementById("table_payment").style.top = document.getElementById("canvas").style.height;
          });
          $(window).resize(function() {
            document.getElementById("table_payment").style.top = document.getElementById("canvas").style.height;
          });
        </script>
    </body>
</html>