<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Ridemate</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script type="text/javascript">
        ymaps.ready(init);
        var myMap, myPlacemark;

        function init(){ 
            myMap = new ymaps.Map("map", {
                center: [<%= @center_x.to_s+', '+@center_y.to_s %>],
                zoom: 13
            }); 
            
            <% for i in 0..@array.size-1 do %>
                <% user = @array[i] %>
                
                myPlacemark = new ymaps.Placemark([<%= user[:from_y].to_s+', '+user[:from_x].to_s %>], {
                    hintContent: '<%= user[:name] %>',
                    balloonContent: 'Поедет: <%= user[:to] %> в <%= user[:from_time] %>'
                });
            
                myMap.geoObjects.add(myPlacemark);
            <% end %>
        }
    </script>
</head>

<body>
    <div id="map" style="width: 600px; height: 400px"></div>
</body>

</html>