<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ridemate</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/bundle.min.js"></script>
  </head>
  <body>
    <div class="header">
      <div class="container">
        <div class="header__title">Ridemate</div>
        <div class="header__discription">Сервис для поиска попутчиков</div>
      </div>
    </div>
    
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script type="text/javascript">
        ymaps.ready(init);
        var myMap;

        function init(){ 
            myMap = new ymaps.Map("map", {
                center: [<%= @center_x.to_s+', '+@center_y.to_s %>],
                zoom: <%= @zoom.to_s %>
            }); 
            
            <% for i in 0..@array.size-1 do %>
                <% user = @array[i] %>
                
                var myPlacemark;
                myPlacemark = new ymaps.Placemark([<%= user[:from_y].to_s+', '+user[:from_x].to_s %>], {
                    hintContent: '<%= user[:name] %>',
                    balloonContent: 'Поедет: <%= user[:to] %> в <%= user[:from_time] %>'
                });
            
                myMap.geoObjects.add(myPlacemark);
            <% end %>
        }
    </script>
</head>

    <div><%= @title %></div>
    <div id="map" style="width: 600px; height: 400px"></div>
</body>
</html>